@model Lab2.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm("Editar", "Cliente", FormMethod.Post))
{
    <div class="row">
        <div class="col-12">
            <!--mediante anotaciones de html-->
            @Html.HiddenFor(d => d.id_cli) <!-- Campo oculto del id -->
            @Html.LabelFor(d => d.nombre_cli)
            @Html.TextBoxFor(d => d.nombre_cli, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.nombre_cli, "", new { @class = "text-danger" })

            @Html.LabelFor(d => d.cedula_cli)
            @Html.TextBoxFor(d => d.cedula_cli, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.cedula_cli, "", new { @class = "text-danger" })

            @Html.LabelFor(d => d.correo)
            @Html.TextBoxFor(d => d.correo, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.correo, "", new { @class = "text-danger" })
            <!-- fecha de naicmeinto -->
            @Html.LabelFor(d => d.fechaNacimiento)
            @Html.EditorFor(d => d.fechaNacimiento, new { @class = "form-control" })

            <br />
            <div>
                <input value="Editar" class="btn btn-primary mt-5" type="submit" />
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">
        <a class="btn btn-danger mt-3 mb-3" href="~/Home/Index">Regresar</a>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")

    <!--Script de jquery para el data picker-->
    <script>
        $(function () {
            $("#fechaNacimiento").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                showOn: "button",
                buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
                buttonText: "Seleccionar fecha",
            });
        });
        </script>

}



